.missions {
  display: flex;
  justify-content: center;
  // margin-left: ;
}
svg {
  width: 40%;
  height: 40%;
  min-width: 15rem;
  min-height: 15rem;
  text-align: center;
  background-color: azure;
}
