<mat-card >
    <div class="state">
        {{ droneData.state }}
    </div>
    <mat-card-actions>
      <button mat-button (click) = "this.identify()" *ngIf ="!droneService.isSimulation">Identify</button>
      <button *ngIf="+droneData.battery > 30" mat-button (click) = "this.startMission()" [disabled]="droneService.isSimulation">Explore</button>
      <button *ngIf="+droneData.battery <= 30" mat-button disabled>Explore</button>
      <button *ngIf ="droneService.isSimulation" mat-button (click) = "this.fly()" [disabled]="droneService.isSimulation">Fly</button>
      <button mat-button (click) = "this.land()" [disabled]="droneService.isSimulation">Land</button>
      <button *ngIf ="!droneService.isSimulation" mat-button (click) = "this.base()">Return to base</button>
    </mat-card-actions>
    <div class="mat-card-header">
        <mat-card-title>{{droneData.name}}</mat-card-title>
    </div>
    <div class="mat-card-subtitle">
        <span>Speed</span> {{ droneData.speed }} km/h
    </div>
    <div class="mat-card-subtitle">
        <span>Battery</span> {{ droneData.battery }} %
    </div>
    <div class="mat-card-subtitle">
        <span>Position (x, y z) :</span> 
    </div>
    <div class="mat-card-subtitle">
        X: {{ droneData.xPosition.toFixed(3) }} <span></span> Y: {{ droneData.yPosition.toFixed(3) }} <span></span>  Z: {{ droneData.zPosition.toFixed(3) }}
    </div>
    <div class="mat-card-subtitle">
        <span>Angle</span> {{ droneData.angle }} degree
    </div>
    <div class="mat-card-subtitle">
        <span>Distance (front, back, left, right) :</span> 
    </div>
    <div class="mat-card-subtitle">
        Front: {{ droneData.frontDistance }} <span></span> Back: {{ droneData.backDistance }} <span></span>  left: {{ droneData.leftDistance }} <span></span>  right: {{ droneData.rightDistance }}
    </div>
        <div class="card-map">
            <ng-container *ngIf="this.droneService.isSimulation; else realDroneMap">

                <svg [attr.viewBox]="'-2.5 -2.5 5 5'" #svg >
                    <g>
                        <circle
                        *ngFor="let point of this.droneService.simDronesPoints[droneData.id]"
                        fill="blue"
                        [attr.cx]="point.x"
                        [attr.cy]="point.y"
                        r="0.02"
                        />
                    </g>
                    <use
                    xlink:href="/assets/drone.svg#drone"
                    [attr.x]="simMapDrone.yPosition"
                    [attr.y]="simMapDrone.xPosition"
                    width="0.15"
                    height="0.15"
                    fill="blue"
                    />
                    <line
                    x1="0"
                    y1="-400"
                    x2="0"
                    y2="400"
                    stroke="black"
                    stroke-width="0.02"
                    stroke-dasharray="0.05 0.05"
                    stroke-opacity="0.40"
                    />
                    <line
                    x1="-400"
                    y1="0"
                    x2="400"
                    y2="0"
                    stroke="black"
                    stroke-width="0.02"
                    stroke-dasharray="0.05 0.05"
                    stroke-opacity="0.40"
                    />
                </svg>
            </ng-container>

            <ng-template #realDroneMap>
                <svg [attr.viewBox]="'-2 -2 4 4'" #svg >
                    <g>
                        <circle
                        *ngFor="let point of this.droneService.realDronesPoints[droneData.id]"
                        fill="green"
                        [attr.cx]="point.x"
                        [attr.cy]="point.y"
                        r="0.02"
                        />
                    </g>
                    <use
                    xlink:href="/assets/drone.svg#drone"
                    [attr.x]="realMapDrone.xPosition"
                    [attr.y]="realMapDrone.yPosition"
                    width="0.15"
                    height="0.15"
                    fill="green"
                    />
                    <line
                    x1="0"
                    y1="-400"
                    x2="0"
                    y2="400"
                    stroke="green"
                    stroke-width="0.02"
                    stroke-dasharray="0.05 0.05"
                    stroke-opacity="0.40"
                    />
                    <line
                    x1="-400"
                    y1="0"
                    x2="400"
                    y2="0"
                    stroke="green"
                    stroke-width="0.02"
                    stroke-dasharray="0.05 0.05"
                    stroke-opacity="0.40"
                    />
                </svg>
            </ng-template>
        </div>
</mat-card>