
<div class="side-panel">
  <button type="button" class = "button"routerLink="/main-page" matTooltip="drones and missions">
    <mat-icon class = "icon">home</mat-icon>
  </button>
  <button type="button" class = "button"routerLink="/logs" matTooltip="logs">
    <mat-icon class = "icon">build</mat-icon>
  </button>
  <button type="button" class = "button"routerLink="/saved-missions" matTooltip="saved missions">
    <mat-icon class = "icon">history</mat-icon>
  </button>
</div>

<div class="wrapper">
  <router-outlet></router-outlet>
</div>

<!-- <div style="text-align:center">
  <h1>Drones</h1>
  <h2>Here are the drones created so far: </h2>
</div>
<ul>
  <li *ngFor="let drone of dronesList">
    {{drone.name}}
  </li>
</ul> -->
